<!doctype html>
	<html lang="en">
  		<head>
  			<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		<meta name="description" content="">
    		<title>2018 Player Info</title>
			<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    		<!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
			<link href="../resources/css/my_style.css" rel="stylesheet">

			<p>
			<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
				Interests
			</a>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
				Countries Travelled
			</button>
		</p>
		<div class="collapse" id="collapseExample1">
  			<div class="card card-body">
			<ul>
				<li>Canada</li>
				<li>Australia</li>
				<li>Aruba</li>
				<li>Spain</li>
				<li>France</li>
				<li>Italy</li>
			</ul>
			</div>
		</div>
			
		<div class="collapse" id="collapseExample2">
  			<div class="card card-body">
				<ol>
					<li>Disc Golf</li>
					<li>Coding</li>
					<li>Boating</li>
				</ol>
			</div>
		</div>